.container-fluid {
    padding: 0px;
}

body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}
hr{
    width: 25%;
    max-width: 100px;
    height: 10px;
}
.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("../images/Protection-notre-enfant.jpg");
  min-height: 75%;
}

.bgimg-2 {
  background-image: url("../images/notre-enfant-sans-intimidation.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("../images/gandalf.jpg");
  min-height: 400px;
}

.caption {
  position: absolute;
  right: 10%;
  bottom: 25%;
  max-width: 400px;
  text-align: center;
  color: #000;
}

.texteEnColomnes{
    -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
      -webkit-column-gap: 3em;
      -moz-column-gap: 3em;
      column-gap: 3em;
      margin-bottom: 20px;
      text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 15px;
    margin-bottom: .5rem;
}

header , header a, header a:hover, header h3{
color : white ;
font-weight: bolder ;
text-decoration: none;
text-transform: uppercase;
text-align: center; 
}
header{
  position: fixed;
  z-index: 99;}

.caption div.border {
  background-color: #fff;
  color: #111;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 5px;
  border-radius: 10px; 
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 18px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}
